.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
data/processed/*
!data/processed/.gitkeep
data/raw/pdfs/*
!data/raw/pdfs/.gitkeep
data/raw/images/*
!data/raw/images/.gitkeep
results/metrics/*
!results/metrics/.gitkeep
results/logs/*
!results/logs/.gitkeep
results/figures/*
!results/figures/.gitkeep
.ipynb_checkpoints/
wandb/
*.pth
*.bin
*.safetensors
